/* Body */
body{
    background: #9C835F;
}
/* Header */
.nav-title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #F9B23D;
}
.img-game{
    width: 80px;
}
.img-refresh{
    width: 50px;
}
.img-game:hover {
   box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
   background-color: #C4C4C4;
}

.result{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 196px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #BD0000;
    padding: 100px 10px;
}